imgaug==0.4.0
opencv-python==4.5.1.48
numpy==1.22.4
opencv-python==4.5.1.48
openpyxl==2.6.4
opt-einsum==3.3.0
packaging==20.4
pandas==1.2.4
prettytable==3.3.0
scikit-image==0.17.2
scikit-learn==0.24.1
SQLAlchemy==1.4.37
tensorboard==2.9.0
tqdm==4.60.0
xlrd==1.2.0
yacs==0.1.8
easydict==1.9
efficientnet-pytorch==0.7.1
torch==1.9.0
torchfile==0.1.0
torchsummary==1.5.1
torchvision==0.9.1
